.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-panel {
        display: flex;
        flex-direction: column;
        height: fit-content;
        min-width: 350px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px;
        font-size: 15px;
        &__title {
            text-align: center;
        }

        &__label {
            text-align: left;
            margin-bottom: 10px;
        }

        &__input {
            margin-bottom: 10px;
            height: 35px;
            
            &::placeholder {
                text-align: left;
            }
        }

        &__button {
            margin-top: 5px;
            height: 35px;
            border: 1px solid black;
            border-radius: 5px;
        }
    }
}