<div class="login-page">

    <form [formGroup]="loginForm">
        <div class="login-panel">
            <h1 class="login-panel__title">Login</h1>
            <label class="login-panel__label">Username</label>
            <input class="login-panel__input" type="text" placeholder="Username or Email"
                formControlName="usernameControl" required>
            <label class="login-panel__label">Password</label>
            <input class="login-panel__input" type="password" placeholder="Password" formControlName="passwordControl"
                required>
            <button class="login-panel__button" type="submit" (click)="onClickLogIn()">Log In</button>
        </div>

    </form>

</div>